# Python
.venv/
backend/venv/
__pycache__/
*.pyc

# Uploaded resumes
backend/uploads/

# Environment variables
backend/.env

# React/Vite
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db